{% load static %}

<table id="cart_table">
    <tr>
        <td class="cart_top">#</td>
        <td class="cart_top">Product ID</td>
        <td class="cart_top">Product Type</td>
        <td class="cart_top">Price</td>
        <td class="cart_top">Remove</td>
    </tr>
    <tr>
        <td>1</td>
        <td>10</td>
        <td>Green T-shirt</td>
        <td>$1233</td>
        <td><div class="remove"><i class="fa fa-times" aria-hidden="true"></i></div></td>
    </tr>
    <tr>
        <td>2</td>
        <td>107</td>
        <td>Red T-shirt</td>
        <td>$1833</td>
        <td><div class="remove"><i class="fa fa-times" aria-hidden="true"></i></div></td>
    </tr>
</table>