{% load static %}
<table id="info_table">
    <tr class="record">
        <td class="img_holder">
            <img src="{{ img_url }}" class="table_img">
        </td>
        <td class="data_holder">
                        <span class="data_title">
                            Product Type:
                        </span> <span id="prod_type" class="prod_type">{{prod_type}} </span>
            <br>
            <span class="data_title">
                            Product ID:
                        </span><span id="prod_id" class="prod_id">{{prod_id}}</span>
            <br>
            <span class="data_title">
                            Purchase Date:
                        </span><span id="purchase_date" class="purchase_date">{{date}}</span>
            <br>
            <span class="data_title">
                            Price:
                        </span>$ <span id="price" class="price">{{price}}</span>
            <br>

            {% if not_comment %}
                <button id="btn_comment" class="btn_comment">
                    Comment
                </button>
            {% endif %}
        </td>
    </tr>
</table>