{% load static %}

<tr class="record">
    <td class="img_holder">
        <img src="{% static 'SharpBargain/media/shirt.jpg' %}" class="table_img">
    </td>
    <td class="data_holder">
                    <span class="data_title">
                        Product Type:
                    </span>{{prod_type}}
        <br>
        <span class="data_title">
                        Product ID:
                    </span>{{prod_id}}
        <br>
        <span class="data_title">
                        Purchase Date:
                    </span>{{date}}
        <br>
        <span class="data_title">
                        Price:
                    </span>${{price}}
        <br>

        {% if not_comment %}
            <button id="btn_comment">
                Comment
            </button>
        {% endif %}
    </td>
</tr>