{% load static %}

<table id="info_table">
    <tr class="record">
        <td class="img_holder">
            <img src="{{ img_url }}" class="table_img">
        </td>
        <td class="data_holder">
            <span class="data_title">
                Product Type:
            </span><span id="prod_type" class="prod_type">{{ prod_type }}</span>
            <br>

            <span class="data_title">
                            In Stock:
                        </span><span class="stock">{{Stock}}</span>
            <br>
            <span class="data_title">
                            Total Made:
                        </span><span class="total">{{Total}}</span>
            <br>
            <span class="data_title">
                            Sell Rate:
                        </span><span class="sell_rate">{{sell_rate}}%</span>
            <br>
            <button id="btn_view_data" class="btn_view_data">
                View Data
            </button>
        </td>
    </tr>
</table>