{% load static %}

<table id="info_table">
    <tr class="record">
        <td class="img_holder">
            <img src="{% static 'SharpBargain/media/shirt.jpg' %}" class="table_img">
        </td>
        <td class="data_holder">
                        <span class="data_title">
                            Product Type:
                        </span>Black T-Shirt<span id="prod_type" class="prod_type"></span>
            <br>

            <span class="data_title">
                            Stock:
                        </span>189<span class="address"></span>
            <br>
            <button id="btn_view_data" class="btn_view_data">
                View Data
            </button>
        </td>
    </tr>
</table>