{% load static %}

<table id="info_table">
    <tr class="record">
        <td class="img_holder">
            <img src="{{ img_url }}" class="table_img">
        </td>
        <td class="data_holder">
                        <span class="data_title">
                            Product Type:
                        </span><span id="prod_type" class="prod_type">{{prod_type}}</span>
            <br>

            <span class="data_title">
                            Manufacturer Address:
                        </span >0x<span class="address">{{address}}</span> <span id="manu_address" class="manu_address"></span>
            <br>
            <button id="btn_view_comment" class="btn_view_comment">
                View Comments
            </button>
</table>