{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CusDash</title>
   <link rel="stylesheet" href="{% static 'SharpBargain/styles/dashboard.css' %}">
</head>

<header>
    <p class="title">#Bargain</p>
</header>

<body>

    <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#history">History</a></li>
    <li><a href="#view">View</a></li>
    <li><a href="#comment">Comment</a></li>
    <li><a href="#logout">Logout</a></li>
</ul>

    <div class="container">
        <h2>Important Notes</h2>
        <p>The sections show the most important things for you.</p>
            <div class="column">
                <div class="section">
                    <p class="line1">You have bought...</p>
                    <p class="numbering">6</p>
                    <p class="line3">last week.</p>
                </div>
            </div>



            <div class="column">
                <div class="section">
                    <p class="line1">You have saved...</p>
                    <p class="numbering">$999</p>
                    <p class="line3">last week.</p>
                </div>
            </div>



            <div class="column">
                <div class="section">
                    <p class="line1">You have ...</p>
                    <p class="numbering">6</p>
                    <p class="line3">last week.</p>
                </div>
            </div>


    </div>

    <div class="history_container">
        <h2 style="margin-top: 0px;">History</h2>
        <table id="history_temp">
            <tr>
                <td class="img_holder">img</td>
                <td class="data_holder">data</td>
            </tr>
        </table>
    </div>
</body>
</html>