{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/critical_data.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/item_info.css' %}">
    <script src="https://kit.fontawesome.com/598dc5fe5f.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% static 'SharpBargain/media/favicon.ico' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@402;500&display=swap" rel="stylesheet">
</head>


<body>
    <ul>
        <li><img src="{% static 'SharpBargain/media/logo.png' %}" class="logo"></li>
        <li><a href="" class="selected" id="home"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="" id="History"><i class="fa fa-history"></i> History</a></li>
        <li><a href="" id="View"><i class="fa-solid fa-eye"></i> View</a></li>
        <li><a href="" id="Comment"><i class="fa fa-comment"></i> Comment</a></li>
        <li><a href="{% url 'index' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>

<div class="main_content">
        <div class="container">
        <div class="title_container">
            <p class="title">Shopping Habits <span class="subtitle">(In last 7 days)</span></p>
        </div>
        <div class="three_data">
             <div class="column">
                <div class="section">
                    <p class="line1">You have bought...</p>
                    <p class="numbering">{{buy_count}}</p>
                    <p class="line3">products.</p>
                </div>
             </div>

            <div class="column">
                <div class="section">
                    <p class="line1">You have spent...</p>
                    <p class="numbering">${{total_payment}}</p>
                    <p class="line3">HKD</p>
                </div>
            </div>

            <div class="column">
                <div class="section">
                    <p class="line1">You have ...</p>
                    <p class="numbering">{{uncomment_count}}</p>
                    <p class="line3">products to be commented.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="item_container">
         <div class="title_container">
            <p class="title">History <span class="subtitle">(Recent Purchase)</span></p>
        </div>
        {% for history in user_historys %}
           {% include 'SharpBargain/includes/history_table.html' with prod_type=history.prod_type prod_id=history.prod_id date=history.purchase_date price=history.price not_comment=history.not_comment img_url=history.img_url %}
        {% endfor %}
    </div>
</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script >

    $('.btn_comment').click(async function() {
        var prod_id = $(this).parent().children(".prod_id").html();
              get_accounts().then
              (
                    function (value)
                    {

                        console.log(prod_id);
                        var new_herf =  "{% url 'cusComment' 12345 999999999999999999999999999999999999999999999 %}".replace(/12345/,value[0].toString()).replace(/999999999999999999999999999999999999999999999/,prod_id.toString());
                        console.log(new_herf);
                        window.location.href = new_herf;
                    }
                );

    });

    var ac;
    async function get_accounts()
    {
        const accounts = await ethereum.request({ method: 'eth_accounts' });
        return accounts;
    }
    get_accounts().then(
        function (value)
            {
                var new_href = "{% url "cusDashboard" 1234 %}".replace(/1234/,value[0].toString());
                document.getElementById("home").href=new_href;

                new_href = "{% url "cusHistory" 1234 %}".replace(/1234/,value[0].toString());
                document.getElementById("History").href=new_href;
                new_href = "{% url "cusView" 1234 0 %}".replace(/1234/,value[0].toString());
                document.getElementById("View").href=new_href;
                new_href = "{% url "cusComment" 1234 0 %}".replace(/1234/,value[0].toString());
                document.getElementById("Comment").href=new_href;
            }
    );
</script>

</html>