{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cusHistory</title>
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/item_info.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@402;500&display=swap" rel="stylesheet">
</head>
<body>
    <ul>
        <li><img src="{% static 'SharpBargain/media/logo.png' %}" class="logo"></li>
        <li><a href=""  id="home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="" class="selected" id="History"><i class="fa fa-history" aria-hidden="true"></i> History</a></li>
        <li><a href="" id="View"><i class="fa fa-eye" aria-hidden="true"></i> View</a></li>
        <li><a href="" id="Comment"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a></li>
        <li><a href="{% url 'index' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
    </ul>

<div class="main_content">

    <div class="item_container">
         <div class="title_container">
            <p class="title">Full History</p>
        </div>
        {% for history in user_historys %}
           {% include 'SharpBargain/includes/history_table.html' with prod_type=history.prod_type prod_id=history.prod_id date=history.purchase_date price=history.price not_comment=history.not_comment img_url=history.img_url %}
        {% endfor %}
    </div>
    </div>
</div>


</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script >
    var ac;
    async function get_accounts()
    {
        const accounts = await ethereum.request({ method: 'eth_accounts' });
        return accounts;
    }
    get_accounts().then(
        function (value)
            {
                var new_href = "{% url "cusDashboard" 1234 %}".replace(/1234/,value[0].toString());
                document.getElementById("home").href=new_href;
                new_href = "{% url "cusHistory" 1234 %}".replace(/1234/,value[0].toString());
                document.getElementById("History").href=new_href;
                new_href = "{% url "cusView" 1234 0 %}".replace(/1234/,value[0].toString());
                document.getElementById("View").href=new_href;
                new_href = "{% url "cusComment" 1234 0 %}".replace(/1234/,value[0].toString());
                document.getElementById("Comment").href=new_href;
            }
    );
</script>


</html>