{% load static %}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cusHistory</title>
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/item_info.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <ul>
        <li><img src="{% static 'SharpBargain/media/logo.png' %}" class="logo"></li>
        <li><a href=""><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="{% url 'cusHistory' %}" class="selected"><i class="fa fa-history" aria-hidden="true"></i> History</a></li>
        <li><a href="{% url 'cusView' %}"><i class="fa fa-eye" aria-hidden="true"></i> View</a></li>
        <li><a href="{% url 'cusComment' %}"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a></li>
        <li><a href="{% url 'index' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
    </ul>

<div class="main_content">
    <div class="item_container">
         <div class="title_container">
            <p class="title">Full History</p>
        </div>
        <table id="info_table">
            {% include 'SharpBargain/includes/history_table.html' with prod_type="test_type" prod_id="123456" date="00/00/0000" not_comment=true %}
        </table>
    </div>
    </div>
</div>


</body>


</html>