{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CusView</title>
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/search.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/view.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/item_info.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/comment_holder.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/rate_view.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.7.1/dist/web3.min.js"></script>

</head>

<body>
    <ul>
        <li><img src="{% static 'SharpBargain/media/logo.png' %}" class="logo"></li>
        <li><a href="" id="home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="" id="History"><i class="fa fa-history" aria-hidden="true"></i> History</a></li>
        <li><a href="" class="selected" id="View"><i class="fa fa-eye" aria-hidden="true"></i> View</a></li>
        <li><a href="" id="Comment"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a></li>
        <li><a href="{% url 'index' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
    </ul>

<div class="main_content">
    <div class="view_container">
         <div class="title_container">
            <p class="title">View</p>
        </div>

        <div class="search_section">
            <span class="field_des_search">Search by ID</span>
            <input type="text" id="pid" name="pid" class="search">
            <input type="submit" value="Search" class="btn_search" onclick="search_by_id();">
            <br>
        </div>

        <div id="comment_display">

            {% include 'SharpBargain/includes/view_table.html' with prod_type=f_comment_data.prod_type date=f_comment_data.date cusComment=f_comment_data.comment s1=f_comment_data.s1 s2=f_comment_data.s2 s3=f_comment_data.s3 s4=f_comment_data.s4 s5=f_comment_data.s5 img_url=f_comment_data.img_url%}


            {% for data in other_comment_data %}
                {% include 'SharpBargain/includes/comment_table.html' with date=data.date cusComment=data.comment s1=data.s1 s2=data.s2 s3=data.s3 s4=data.s4 s5=data.s5 name=data.pk%}
            {% endfor %}


        </div>



    </div>
</div>

<script >
    var ac;
    async function get_accounts()
    {
        const accounts = await ethereum.request({ method: 'eth_accounts' });
        return accounts;
    }
    get_accounts().then(
        function (value)
            {
                var new_href = "{% url "cusDashboard" 1234 %}".replace(/1234/,value[0].toString());
                document.getElementById("home").href=new_href;
                new_href = "{% url "cusHistory" 1234 %}".replace(/1234/,value[0].toString());
                document.getElementById("History").href=new_href;
                new_href = "{% url "cusView" 1234 0 %}".replace(/1234/,value[0].toString());
                document.getElementById("View").href=new_href;
                new_href = "{% url "cusComment" 1234 0 %}".replace(/1234/,value[0].toString());
                document.getElementById("Comment").href=new_href;
            }
    );

    if ("{{is_show}}" == "False")
    {
        console.log("No show");
        document.getElementById("comment_display").style.display = "none";
    }

    async function loadWeb3() {
        if (window.ethereum) {
            window.web3 = new Web3(window.ethereum);
            window.ethereum.enable();
        }
    }


    async function load() {
        await loadWeb3();
        const account = await getCurrentAccount();

    }

    async function getCurrentAccount() {
        const accounts = await window.web3.eth.getAccounts();
        return accounts[0];
    }

    async function search_by_id()
    {
        var search_id = document.getElementById("pid").value;
        const account = await getCurrentAccount();
        if (search_id!= "")
        {
            var new_herf =  "{% url 'cusView' 12345 999999999999999999999999999999999999999999999 %}".replace(/12345/,account.toString()).replace(/999999999999999999999999999999999999999999999/,search_id.toString());
            window.location.href = new_herf;
        }
    }

    load();
</script>
</body>


</html>