<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#BARGAIN</title>
    <link rel="stylesheet" href="index.css">
</head>

<header>
#BARGIN
</header>

<body>

<div class="main">
    <div class="deco">
        <h1>Slogan</h1>
        <h2>ARRRR</h2>
    </div>
    <div class="login">
<h1>Connect to metamask:</h1>
         <button class="button" type="button">Connect</button>
    </div>
</div>

</body>

<footer>
    @2022 Powered by B#. All Rights Reserved.<br>
    <a class="footerlink" href="terms.html">Terms & Conditions</a> 
    <a class="footerlink">&nbsp;|&nbsp;</a> 
    <a class="footerlink" href="privacy.html">Privacy Policy</a>
</footer>

</html>