{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetDash</title>
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/pos.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/search.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="date_time()">
    <div class="header_container">
        <img src="{% static 'SharpBargain/media/logo.png' %}" class="logo">

        <div class="back">
            <a href="#home" class="back_icon">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
        </div>
        <div class="date_time_container">
            <div id="time"></div>
            <div id="date"></div>
        </div>
    </div>

    <div class="total_container">
        <p class="total_title">Total</p>
        <p class="total_amount" id="total">$200</p>
        <div class="payment_container">
            <div class="pay_change_title">Payment</div>
            <button type="button" class="btn_pay"><i class="fa fa-money" aria-hidden="true"></i></button>
            <button type="button"  class="btn_pay"></button>
            <button type="button" class="btn_pay"><i class="fa fa-cc-visa" aria-hidden="true"></i></button>
            <br>
            <input type="text" class="payed_cash" id="payed_cash" name="payed_cash">
            <br>
            <div class="pay_change_title" id="change_cash">Change</div> $300 <br>

        </div>

    </div>


    <div class="main">

        <div class="title_container">
            <p class="title">123</p>
        </div>
    </div>


</body>

<script>
function date_time(){
    const date = new Date();
    const days = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"];
    let hour = date.getHours();
    let min = date.getMinutes();
    let sec = date.getSeconds();
    let year = date.getFullYear();
    let month = date.getMonth() + 1;
    let day = date.getDate();
    let weekday = days[date.getDay()];
    min = check(min);
    sec = check(sec);
    document.getElementById('time').innerHTML = hour + ":" + min + ":" + sec;
    document.getElementById('date').innerHTML = day + "/" + month + "/" + year + "("+ weekday +")";
    setTimeout(date_time, 1000);
}

function check(n){
    if (n<10) {
        n = "0" + n;
    }
    return n
}
</script>

</html>