{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetViewCM</title>
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/rate_view.css'%}">
    <link rel="stylesheet" href="{% static 'SharpBargain/styles/comment_holder.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@402;500&display=swap" rel="stylesheet">
</head>


<body>
    <ul>
        <li><img src="{% static 'SharpBargain/media/logo.png' %}" class="logo"></li>
        <li><a href=""  id="home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="" id="pos"><i class="fa fa-calculator" aria-hidden="true"></i> POS System</a></li>
        <li><a href="" class="selected" id="view"><i class="fa fa-bar-chart" aria-hidden="true"></i> View Data</a></li>
        <li><a href="{% url 'index' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
    </ul>

    <div class="main_content">
        <div class="view_comment_container">
            <div class="title_container">
                <p class="title">Comment for {{prod_type}}</p>
            </div>
            {% for data in comment_data %}
                {% include 'SharpBargain/includes/comment_table.html' with date=data.date cusComment=data.comment s1=data.s1 s2=data.s2 s3=data.s3 s4=data.s4 s5=data.s5 name=data.pk%}
            {% endfor %}

        </div>
    </div>
</body>
<style>
.view_comment_container {
    margin-left:10%;
    padding:10px 20px 0px 0px;
    height:100%;
    margin-bottom: 0;
}
</style>
<script>
    var ac;
    async function get_accounts()
    {
        const accounts = await ethereum.request({ method: 'eth_accounts' });
        return accounts;
    }
    get_accounts().then(
        function (value)
            {
                var new_href = "{% url "retailerDashboard" 1234 %}".replace(/1234/,value[0].toString());
                document.getElementById("home").href=new_href;

                new_href = "{% url "retailerPOS" 1234 %}".replace(/1234/,value[0].toString());
                document.getElementById("pos").href=new_href;
                new_href = "{% url "retailerView" 1234 %}".replace(/1234/,value[0].toString());
                document.getElementById("view").href=new_href;
            }
    );

</script>
</html>