
html{
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat';
    max-width: 100%;
    overflow-x: hidden;
}

body{
    padding: 0px;
    margin: 0px;
}

header{
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #5AA2AE;
    z-index: 10;
}

.title{
    font-size: 40px;
    margin:0px;
    font-weight: 600;
    color: white;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: 10%;
    position: fixed;

    width: 30vh;
    height: 100%;
    background-color: whitesmoke;
    list-style-type: none;
    overflow: auto;

}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Montserrat';
}

a:hover{
    color: white;
    background-color: #5AA2AE;
}

.container {
    margin-left:20%;
    padding:10px 20px 0px 20px;
    height:300px;
    padding-top: 5%;
    margin-bottom: 0;

}

.section {
    box-shadow: 0 2px 4px 0 grey;
    padding: 15px 10px 15px 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right,#5AA2AE, #82C5C4,#82C5C4);
}

.line1{
    margin: 0px;
}
.line3{
    text-align: right;
    margin: 0px;
}

.numbering{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    margin: 15px;

}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

@media screen and (max-width: 700px) {
    .column {
        width: 100%;
        margin-bottom: 15px;
        display: block;
    }
}

.history_container {
    margin-left:20%;
    padding:10px 20px;
    height: 100%;
    width: 133vh;

table {
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;

.img_holder{
    width: 30vh;
    max-width: 50vh;
    height: 30vh;
    max-height: 50vh;

    background-image: linear-gradient(to right,#5AA2AE, #82C5C4,#82C5C4);
    border-radius: 20px 0px 0px 20px;
}

.data_holder{
    width: 100vh;
    max-width: 150vh;
    height: 30vh;
    max-height: 60vh;

    background-color: #82C5C4;
    border-radius: 0px 20px 20px 0px;

}

