.container {
    margin-left:10%;
    padding:10px 20px 0px 0px;
    height:100%;
    margin-bottom: 0;
}

#input_form{
    padding: 50px;
    padding-bottom: 0px;
    border-collapse: separate;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    background-color: #5aa2ae;

    border-radius: 20px 20px 0px 0px;
}
.input_block
{
    max-width:50%;
    position: absolute;
    top: 50%;
    left: 58%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow:hidden;


}
#add_image_form
{
    margin-left: auto;
    margin-right: auto;
    background-color: #5aa2ae;
    border-radius: 0px 0px 20px 20px;
    padding: 50px;
    padding-top: 0px;
}

.right{
    text-align: right;
}
.center{
    text-align: center;
}
.input_label,label{
    font-size: 1.5em;
    color: whitesmoke;
    font-weight: 600;
    width: 100%;
    margin-right: 20px;
}

.input_field{
    width: 100%;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    text-align: center;
    outline: none;
    font-family: 'Montserrat';
}

.submit_btn,#submit_img{
    padding: 8px 20px;
    font-family: 'Montserrat';
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #82C5C4;
    color: white;
    margin-bottom: 1rem;
}

#submit_img{
    position:relative;
    left:80%;

}

#id_prod_img
{
    margin-left: 20%;
}

.submit_btn:hover{
    background-color: #AAD6D7;
    color: white;
}

td{
    padding: 10px;
}