html{
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat';
    max-width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #BFF8ED,#F0F9FF);

}

body{
    padding: 0px;
    margin: 0px;
}

.total_container {
    margin: 0;
    padding: 0;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    position: fixed;
    right: 0;

    width: 35vw;
    height: 100%;
    background-color: whitesmoke;
    list-style-type: none;
    overflow: auto;
    border-left: solid #5AA2AE 6px;
    box-sizing: border-box;


}

.total_title{
    font-size: 2.5em;
    font-weight: bold;
    color: #5AA2AE;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: grey 3px solid;
    margin-bottom: 2vh;
}

.total_amount{
    font-size: 5em;
    text-align: center;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 4vh;
    color: #5aa2ae;
}

.change{
    font-size: 5em;
    text-align: center;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    color: whitesmoke;
}

.payment_container{
    background-color: #5AA2AE;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
    height: 50vh;
    max-height: 50vh;
}

.pay_change_title{
    font-size: 2.5em;
    font-weight: 600;
    color:whitesmoke;
}

.btn_pay{
    width: 25%;
    height:25%;
    font-size: 4em;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 5px 20px 5px;
    color: #373F51;
}

.btn_pay:hover,
.selected{
    background-color: grey;
    color: whitesmoke;
}



.title{
    font-size: 2.5em;
    font-weight: bold;
    color: #5AA2AE;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: grey 3px solid;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

.main {
    margin-left:2%;
    padding:8% 20px 0px 0px;
    width: 60%;

}

html{
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat';
    max-width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #BFF8ED,#F0F9FF);
    background-color: whitesmoke;

}

body{
    padding: 0px;
    margin: 0px;
}

.header_container{
    width: 100%;
    position: absolute;
    background-color: #5aa2ae;
    z-index:2;
}

.logo{
    height: 100%;
    width: auto;
    max-height:12vh;
    float: left;
}

.date_time_container{
    margin: 1.5% 4.5% 0% 0;
    text-align: right;
    font-size: 1.2em;
    font-weight: 600;
    color: whitesmoke;
    letter-spacing: 1.5px;
    float: right;
}

.back_icon{
    color: whitesmoke;
}

.back_icon:hover{
    color: #AAD6D7;
}

.back{
    position: absolute;
    right:1%;
    top: 20%;
    font-size: 3em;
    border-radius: 5px;
    padding: 0 5px;

}

.oct_pay{
    height: 50%;
    width: 70%;
}

.cash_input{
    width: 80%;
    font-size: 1.8em;
    border: none;
    border-radius: 20px;
    text-align: center;
    outline: none;
    font-family: 'Montserrat';
    margin-bottom: 10px;
}

.cart_item{
    margin-top: 3.8vh;
}

.input_section{
    text-align: center;
}

.data_input{
    width: 100%;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    text-align: center;
    outline: none;
    font-family: 'Montserrat';
    margin

}

.btn_input{
    padding: 8px 20px;
    font-family: 'Montserrat';
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #82C5C4;
    color: white;
    float: right;
}

.btn_input:hover{
    background-color: #AAD6D7;
    color: white;
}

.input_des{
    font-size: 1.5em;
    color: #5aa2ae;
    font-weight: 600;
    width: 100%;
    float: left;
    text-align: left;
}



#cart_table{
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
}



#cart_table td{
    border-bottom: 3px solid #5aa2ae;
}

#cart_table tr td{
    padding: 8px;
}

#cart_table .cart_top{
    background-color: #5aa2ae;
    color: whitesmoke;
    font-weight: 800;
}

#cart_table tr:first-child td:first-child {
  border-radius: 10px 0px 0px 10px;
}

#cart_table tr:first-child td:last-child {
  border-radius: 0px 10px 10px 0px;
}

#cart_table tr:nth-child(odd){
    background-color: #5aa2ae40;

}

.remove{
    color: #FF5964;
    font-size: 2em;
    cursor: pointer;
}

.remove:hover{
    color: red;
}
.btn_confirm
{
    padding: 8px 20px;
    font-family: 'Montserrat';
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #82C5C4;
    color: white
}

.btn_confirm:hover{
    background-color: #AAD6D7;
    color: white;
}



#input_table
{
    width:100%;
}

#table_title
{
    width 50%;
}

#cash_block
{
    display:none;
}

