html{
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat';
    max-width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #BFF8ED,#F0F9FF);

}

body{
    padding: 0px;
    margin: 0px;
}

.total_container {
    margin: 0;
    padding: 0;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    position: fixed;
    right: 0;

    width: 35vw;
    height: 100%;
    background-color: whitesmoke;
    list-style-type: none;
    overflow: auto;
    border-left: solid #5AA2AE 6px;
    box-sizing: border-box;


}

.total_title{
    font-size: 2.5em;
    font-weight: bold;
    color: #5AA2AE;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: grey 3px solid;
    margin-bottom: 2vh;
}

.total_amount{
    font-size: 5em;
    text-align: center;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 4vh;
    color: #5aa2ae;
}

.payment_container{
    background-color: #5AA2AE;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
    height: 50vh;
    max-height: 50vh;
}

.pay_change_title{
    font-size: 2.5em;
    font-weight: 600;
    color:whitesmoke;
}

.btn_pay{
    width: 25%;
    font-size: 4em;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 20px;
    margin: 20px 5px;
    color: #373F51;
}

.btn_pay:hover{
    background-color: grey;
    color: whitesmoke;
}

.title{
    font-size: 2.5em;
    font-weight: bold;
    color: #5AA2AE;
    margin-bottom: 20px;
}

.title_container{
    border-bottom: grey 3px solid;
    margin-bottom: 20px;
    width: 50%;
}



.main {
    margin-left:4%;
    padding:4% 20px 0px 0px;

}

html{
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat';
    max-width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #BFF8ED,#F0F9FF);

}

body{
    padding: 0px;
    margin: 0px;
}

.header_container{
    width: 100%;
    position: absolute;
    background-color: #5aa2ae;
    z-index:2;
}

.logo{
    height: 100%;
    width: auto;
    max-height:12vh;
    float: left;
}

.date_time_container{
    margin: 1.5% 4.5% 0% 0;
    text-align: right;
    font-size: 1.2em;
    font-weight: 600;
    color: whitesmoke;
    letter-spacing: 1.5px;
    float: right;
}

.back_icon{
    color: whitesmoke;
}

.back_icon:hover{
    color: #AAD6D7;
}

.back{
    position: absolute;
    right:1%;
    top: 17%;
    font-size: 3em;
    border-radius: 5px;
    padding: 0 5px;

}