.search_section{
margin-bottom: 4vh;
}

.field_des_search{
    font-size: 1.6em;
    font-weight: bold;
    color: #5AA2AE;
}

.search{
    width: 30vw;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    text-align: center;
    font-family: 'Montserrat';
}


.btn_search{
    padding: 8px 20px;
    font-family: 'Montserrat';
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    background-color: #82C5C4;
    color: white;
}

.btn_search:hover{
    background-color: #AAD6D7;
    color: white;
}


